.container {
    background-color: rgb(29, 74, 156);
    height: 60vh;
    width: 100vh;
    display: block;
    .top {
      height: 15vh;
    }
    .computer,
    .player {
      height: 20vh;
    }
    .vs {
      height: 5vh;
    }
  }