.container {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

  display: block;

  .top {
    display: flex;
    .p2 {
      width: 100%;
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 50px;
      margin-left: 35%;
    }
    .changeBtn {
      width: 80%;
      margin-right: 20%;
    }
  }

  .bot {
    display: flex;
    margin-left: 20px;
    //margin-top: 10%;
    

    align-items: center;
    .computer {
     padding-left: 10%;
    }
    .player{
      padding-right: 10%;
    }
    .computer,
    .player {
      margin-bottom: 4%;
      margin-top: 3%;
      height: 100%;
      width: 33%;
    }
    .vs {
      width: 33%;
      color: white;
      font-size: 10vw;
      height: 5vh;
      margin-bottom: 3%;
    }
    img {
      height: 33%;
      width: 33%;
    }
  }
}
